body {
  background-color: #fdf1d3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}



body h3 {
  margin-left: 20px;
}

iframe {
  border: none;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

/* Stil za div #osnovno */
#osnovno {
  text-align: left;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
}

#osnovno img {
  max-width: 100%;
  height: auto;
}

/* Stil za div #detalji */
#detalji {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
}

#kolona1 {
  order: 1;
  flex: 1 1 auto;
  align-self: auto;
}

#kolona2 {
  order: 2;
  flex: 1 1 auto;
  align-self: auto;
}

#opis {
  order: 3;
  flex: 0 1 100%;
  align-self: auto;
}


/* Stil za div #upiti */
#upiti {
  display: grid;
  grid-auto-rows: 1fr;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
  gap: 10px;
}

.upit {
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.carousel-navigation {
  display: none;
}

@media (width >= 800px) {
  #upiti {
    grid-template-columns: 1fr 1fr;
  }
}

@media (600px < width <= 800px) {
  #upiti {
    grid-template-columns: 1fr;
  }
}

@media (width <= 600px) {
  .carousel-navigation {
    display: initial;
  }

  #upiti {
    grid-template-columns: auto 1fr auto;
    place-items: center;
  }

  .upit:not(.upit:nth-child(2)) {
    display: none;
  }
}